@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-script: "Montserrat", serif;
  --font-custom: "Inria Sans", serif;
}
html {
  scroll-behavior: smooth;
}
/* 
:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
button.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: #003F6B;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  margin: 0;
  top: unset;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  width: 50px;
  height: 50px;
  padding: 0;
}
button {
  cursor: pointer;
  transition: all 0.3s linear;
}

.card_section h5,
.project_btn button {
  transition: all 0.3s linear;
}

.overlay_image:after {
  content: '';
  position: absolute;
  inset: 0;
  background: #0D99FF;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.card_section:hover .overlay_image::after {
  opacity: 0.5;
  visibility: visible;
}

.card_section:hover h5 {
  opacity: 1;
  visibility: visible;
}

button:hover {
  background-color: #0D99FF;
}
button:hover {
  color: white;
}
nav ul li.active a{
  color: #0D99FF;
}
.view_btn a,
nav ul li a,
.login_btn h3{
  transition: all 0.3s linear;
  cursor: pointer;
}
.view_btn a:hover, nav ul li a:hover, .login_btn h3:hover{
  color: #0D99FF;
}
.bg_custom {
  background: rgba(0, 0, 0, 0.4);
}

.testi_overlay::before {
  content: '';
  position: absolute;
  background: #003F6B;
  border-radius: 10px;
  inset: 0;
  height: 150px;
  z-index: -1;
}

.drawer-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

button.drawer-toggle svg {
  width: 35px;
  height: 35px;
}

button.drawer-close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0;
  border-radius: 40px;
  background: white;
  color: #003F6B;
  border: none;
  text-transform: capitalize;
  font-size: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 2;
}

.md_none, .smd_none {
  display: none;
}

@media screen and (max-width: 1199px) {
  .group_image {
    display: none;
  }

  .flex-direction-cm {
    flex-direction: column;
  }

  .project_list_section .inner_content .pr-17 {
    padding-right: 10px;
    border: none;
  }

  .project_list_section .inner_content {
    flex-wrap: wrap;
    gap: 0;
  }

  .interns {
    top: -5px;
  }

  .project_status {
    flex-wrap: wrap;
    gap: 15px;
  }

  .budget_btn button {
    font-weight: 500;
    font-size: 16px;
  }

  .search_input form input, .search_location input {
    padding-right: 80px;
  }
}

.navigaion-fixed {
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}


@media screen and (min-width: 1341px) {
  .navigaion-fixed {
    animation: slideDown 0.35s ease-out;
  }
}

@media screen and (max-width: 1540px) {
  .smd_none {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1340px) {
  .header_section {
    padding-top: 10px;
    padding-bottom: 10px;
  }


  h2.font-custom {
    font-size: clamp(3rem, -0.1905rem + 3.8095vw, 3rem);
  }

  .heading.flex {
    width: 100%;
  }

  .smd_none button {
    color: #003F6B;
    width: 100%;
  }

  .login_btn.md_none {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .smd_none {
    width: 100%;
  }

  .login_btn.md_none a {
    color: #003F6B;
    text-align: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
    width: 100%;
  }

  .login_btn {
    display: none;
  }

  .md_none, .smd_none {
    display: block;
  }

  .md_screen {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact_number {
    display: none;
  }

  .nav-content.open .contact_number {
    display: block;
    padding: 0 20px;
  }

  .navbar-section.active::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 2;
    transition: all 0.3s linear;
  }

  .nav-content {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    background-color: #003F6B;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 3;
    padding: 0;
  }

  .nav-content nav {
    width: 100%;
  }

  .nav-content nav ul li {
    position: relative;
  }

  .nav-content nav ul li:before {
    background: #0000;
    border: 1px solid #ffffff;
    border-radius: 50%;
    content: "";
    height: 8px;
    left: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s linear;
    width: 8px;
  }

  .nav-content nav ul li:before {
    left: 22px;
  }

  .nav-content nav ul li {
    border-bottom: 1px solid #838383;
  }

  .nav-content nav ul li {
    padding: 18px 50px;
    display: block;
    text-align: left;
  }

  .nav-content nav ul li a {
    display: block;
    color: white;
    font-weight: 500;
  }

  .nav-content.open {
    transform: translateX(0);
  }

  button.drawer-close {
    display: flex;
  }

  .navbar-section .container {
    padding: 20px;
    flex-wrap: wrap;
  }

  .drawer-toggle {
    display: flex;
    margin-left: auto;
    padding: 0;
  }

  nav ul {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 767px) {
  .bg_image_section p {
    font-size: 18px;
  }

  .project_location {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .mt-12.md_screen {
    margin-top: 10px;
  }

  .budget_btn {
    flex-wrap: wrap;
    gap: 5px;
  }

  .post_content {
    flex-direction: column;
  }

  .image_section {
    position: relative;
    top: unset;
  }

  .slider_image button {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .image_section+div {
    padding: 20px;
  }

  .form_section .image_section {
    display: none;
  }

  .view_btn {
    text-align: center;
  }

  .footer .flex {
    justify-content: center;
    gap: 8px;
  }

  .post_btn {
    display: none;
  }

  .search_input form input, .search_location input {
    padding-right: 60px;
  }

  .search_input {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .slider_search h3 {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  /* h2.font-custom {
    text-align: center !important;
  } */
}