@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-script: "Montserrat", serif;
  --font-custom: "Inria Sans", serif;
}

/* 
:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

button {
  cursor: pointer;
  transition: all 0.3s linear;
}

.card_section h5,
.project_btn button {
  transition: all 0.3s linear;
}

.overlay_image:after {
  content: '';
  position: absolute;
  inset: 0;
  background: #0D99FF;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.card_section:hover .overlay_image::after {
  opacity: 0.5;
  visibility: visible;
}

.card_section:hover h5 {
  opacity: 1;
  visibility: visible;
}
button:hover{
  background-color: #0D99FF;
}
.bg_custom{
  background: rgba(0,0,0,0.4);
}
.testi_overlay::before {
  content: '';
  position: absolute;
  background: #003F6B;
  border-radius: 10px;
  inset: 0;
  height: 150px;
  z-index: -1;
}



